
<div class="row marvel" style="width: 800px">
    <div id="form-control" class="col-xs-12 form-area" style="margin: 5px">
        <form ng-submit="processForm()">
            <input type="text" class="col-xs-8 form-control" style="width: 70%; height: 46px" placeholder="Character Name" ng-model="formData.name" required>
            <button type="submit" class="col-xs-2 go-btn btn btn-lg btn-success">Search</button>
        </form>
    </div>
    <div ng-repeat="character in characters"  style="margin: 5px">
        <div class="col-md-4 col-md-8">
          <img ng-src="{{character.img}}" style="max-width: 200px; height: auto;" />
          <div>
            <h4>Name:</h4>
            <p>{{ character.name }}</p>
            <h4>Description:</h4>
            <p>{{ character.desc }}</p>
          </div>
        </div>
    </div>
</div>
